#formCancellation .modal-dialog{
    max-width: 500px;
   
}
#formCancellation .modal-dialog .modal-content{
    min-height: 628px;
}
#formCancellation .modal-dialog .modal-call__side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#formCancellation  .modal-for-admin__forms{
    min-height: 466px;
}


#formCancellation .text-accept-manager{
    color: #5780EB;
    font-size: 14px;
    margin-top: 32px;
}