@media(min-height:770px){
    .modal-apartments__body-content{
        height: 100%;
        /* padding: 80% 40px; */
    }
    .modal-apartments__body-content .apartments__center{
        flex: inherit;
    }
}
@media(max-width:1572px){
    .apartments__center .center-side.left-side{
        max-width: 726px;
    }
    .apartments__center .title{
        font-size: clamp(40px, 8vw, 100px);
    }
    .apartments__center .center-row .title-num-floor{
        width: 100px;
    }
    .center-side.left-side .city{
        transform: translateY(40px);
    }
    .apartments__bottom .bottom-side.options .bottom-title{
        transform: translateY(-20px);
    }
    .apartments__bottom .bottom-side:nth-child(2){
        margin-left: 40px;
    }
    .apartments__bottom .bottom-side:last-child{
        margin-left: 40px;
    }
    .apartments__bottom .bottom-side .bottom-row{
        margin: 0 20px;
    }
    .apartments__bottom .bottom-side.options .options-image{
        top: -75%;
    }
}
@media(max-width:1440px){
    .apartments__center .title{
        font-size: clamp(40px, 8vw, 80px);
        display: inline-flex;
        align-items: baseline;
    }
    .apartments__center .center-row .title-num-floor{
        width: 80px;
    }
    .apartments__center .center-side.left-side{
        max-width: 626px;
    }
    .center-side.left-side .city {
        transform: translateY(20px);
    }
    .apartments__bottom .bottom-side.options .image img{
        width: 100%;
    }
    .modal-apartments__body-content .apartments__bottom{
        margin-top: 40px;
    }
    .apartments__bottom .bottom-side .bottom-row .option-link a img{
        width: 52px;
    }
    .apartments__bottom .bottom-side .call-btn{
        padding: 10px 20px;
    }
}

@media(max-width:1300px){
    .apartments__center .title{
        font-size: clamp(40px, 7vw, 70px);
    }
    .apartments__center .center-row .title-num-floor{
        width: 70px;
    }
    .apartments__center .center-row:nth-child(2){
        margin-left: 63px;
    }
    .center-side.left-side .city {
        transform: translateY(10px);
    }

    .apartments__bottom .bottom-side.options .bottom-title{
        transform: translateY(0px);
    }
    .apartments__bottom .bottom-side.options .image{
        margin-top: 30px;
    }
    .apartments__bottom .bottom-side .bottom-row .option-link a img{
        width: 42px;
    }
}
@media(max-width:1080px){
    .apartments__center .title{
        font-size: clamp(40px, 6vw, 60px);
    }
    .apartments__center .center-row .title-num-floor{
        width: 60px;
    }
    .apartments__center .title .area{
        font-size: 40px;
    }
    .apartments__center .center-row:nth-child(2) {
        margin-left: 43px;
    }
    .apartments__center .center-side .image-row{
        margin-right: 56px;
    }
    .center-side.left-side .city img{
        margin-left: 20px;
    }
}
@media(max-width:991px){
    .apartments__center .center-side.left-side{
        margin-bottom: 0;
    }
    
    .modal-apartments__body-content::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 120px;
        z-index: -1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    }
    .apartments__top .modal-apartments__btn-close{
        margin: 0;
    }
    .apartments__top .modal-apartments__btn-close span{
        display: none;
    }
    .apartments__top .download{
        opacity: 0;
        pointer-events: none;
    }
    .modal-apartments__body-content .apartments__center{
        position: static;
    }
    .apartments__center .center-side:first-child{
        flex-wrap: nowrap;
        overflow: auto;
    }
    .apartments__center .center-row{
        border-right: 1px solid #393939;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .apartments__center .center-row:nth-child(3){
        padding: 0;
    }
    .apartments__center .center-row:first-child{
        padding-left: 0;
    }
    .apartments__center .center-row:nth-child(2){
        order: 2;
        border-right: none;
        padding-right: 0;
    }
    .apartments__center .center-row:nth-child(3){
        border-right: none;
    }
    .apartments__center .center-row:last-child{
        order: 1;
    }
    
    .apartments__center .title .area{
        font-size: 20px;
        margin-left: 3px;
    }
    .apartments__center .title .area::after{
        font-size: 12px;
        top: 0;
        margin-left: 1px;
    }
    .modal-apartments__body-content .apartments__center{
        flex-direction: column;
    }
    .modal-apartments__body-content .apartments__center::before{
        display: none;
    }
    .apartments__center .center-side:first-child{
        order: 1;
        margin-top: 30px;
        border-top: 2px solid rgba(255, 255, 255, 0.05);
        border-bottom: 2px solid rgba(255, 255, 255, 0.05);
        padding-top: 32px;
        padding-bottom: 27px;
    }
    .apartments__center .center-side:last-child{
        order: 0;
        margin: 0 auto;
        width: 100%;
    }
    .apartments__center .center-row{
        margin-top: 0;
    }
    .apartments__center .center-row:first-child{
        margin-left: 0;
    }
    .apartments__center .center-row:nth-child(2){
        margin-left: 0;
    }
    .apartments__center .center-row:nth-child(3){
        position: absolute;
        top: -35px;
        z-index: 1;
        margin-top: 0;
        max-width: 190px;
    }
    .apartments__center .center-row::before{
        text-align: left;
        margin-right: 0;
    }
    .apartments__center .center-row:first-child::before{
        margin-left: 58px;
    }
    .apartments__center .center-row:first-child .center-row-bottom::before{
        content: '';
        position: relative;
        display: inline-block;
        width: 34px;
        margin-right: 24px;
    }
    .apartments__center .center-row .title-num-floor{
        width: auto;
    }
    .center-side.left-side  .center-row:first-child{
        position: relative;
    }
    .center-side.left-side .floor-controls{
        order: 0;
        margin-left: 0;
        position: absolute;
        top: -20px;
    }
    .floor-controls .buttons button{
        margin-top: 14px;
    }
    .floor-controls .buttons button img{
        width: 34px;
    }
    .center-side.left-side .title{
        order: 1;
    }
    .apartments__center .center-row[data-name-row='Комнаты'] .animate{
        margin-right: 0;
    }
    .apartments__center .center-row[data-name-row='Комнаты'] .title{
        margin-right: 0;
    }
    .apartments__center .center-side.left-side{
        max-width: 100%;
    }
    .center-side.left-side .floor-controls .count{
        display: none;
    }
    .center-side.left-side .city{
        transform: translateY(-65px);
    }
    .center-side.left-side .city img{
        display: none;
    }
    .apartments__center .center-side .image-row{
        margin-left: 0;
        margin-right: 0;
        height: 300px;
        width: 100%;
    }
    .apartments__center .center-side .image-row img{
        height: 100%;
        object-fit: contain;
    }
    .apartments__center .center-side .image-row .loupe-btn{
        bottom: 0;
        top: auto;
        left: 0;
    }
    .apartments__center .center-side .image-row .compass-mob{
        display: inline-block;
        width: auto;
        position: absolute;
        bottom: 0;
        right: 0;
        height: auto;
    }
    .modal-apartments__body-content .apartments__bottom{
        flex-direction: column;
        margin-bottom: 53px;
    }
    .apartments__bottom .bottom-side, .apartments__bottom .bottom-side:nth-child(2), .apartments__bottom .bottom-side:last-child{
        margin: 0 -20px;
        border-top: 2px solid rgba(255, 255, 255, 0.05);
        padding-top: 40px;
        margin-top: 40px;
        justify-content: space-around;
    }
    .apartments__bottom .bottom-side:nth-child(2){
        margin-right: 0;
        margin-left: 0;
    }
    .apartments__bottom .bottom-side:nth-child(2) .bottom-row:first-child{
        margin-left: 0;
    }
    .apartments__bottom .bottom-side:nth-child(2) .bottom-row:last-child{
        margin-right: 0;
        margin-left: 0;
    }
    .apartments__bottom .bottom-side:first-child, .apartments__bottom .bottom-side:last-child{
        border-top:0;
        margin-top: 0;
        padding-top: 0;
    }
    .apartments__bottom .bottom-side .bottom-row{
        margin: 0 20px;
    }
    .apartments__bottom .bottom-side:last-child{
        margin-top: 40px;
        margin-right: 0;
        margin-left: 0;
    }
    .apartments__bottom .bottom-side:last-child .bottom-row{
        margin: 0;
        width: 100%;
    }
    .apartments__bottom .bottom-side.options .options-image{
        display: none;
    }
    .apartments__bottom .bottom-side .bottom-row .option-link a img{
        width: 62px;
    }
    .apartments__bottom .bottom-side .download-mob {
        display: flex;
        align-items: center;
        font-size: 16px;
        text-transform: lowercase;
        font-weight: 300;
    }
    .apartments__bottom .bottom-side .download-mob img{
        width: 34px;
        margin-right: 14px;
    }
    .apartments__bottom .bottom-side .call-btn{
        margin-top: 42px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        padding: 12px 28px;
    }
}


@media(max-width:425px){
    .modal-apartments__body-content{
        padding: 0 16px;
    }
    .apartments__center .center-side .image-row{
        height: 200px;
        padding-bottom: 20px;
    }
    .apartments__bottom .bottom-side, .apartments__bottom .bottom-side:nth-child(2), .apartments__bottom .bottom-side:last-child{
        margin: 0;
    }
    .apartments__bottom .bottom-side:last-child {
        margin-top: 40px;
    }
    .apartments__bottom .bottom-side:nth-child(2){
        flex-direction: column;
        margin-top: 40px;
    }
    .apartments__bottom .bottom-side .bottom-row{
        margin: 0;
    }
    .apartments__bottom .bottom-side.options{
        margin: 0 -15px;
        overflow: hidden;
        overflow-x: auto;
        /* align-items: baseline; */
    }
    .apartments__bottom .bottom-side.options .bottom-row{
        margin: 0 15px;
        display: flex;
        flex-direction: column;
    }
    .apartments__bottom .bottom-side.options .image {
        margin-top: 0;
    }
    .apartments__bottom .bottom-side.options .image svg{
        width: 145px;
    }
    .apartments__bottom .bottom-side.options .bottom-title{
        order: 1;
        margin-top: 30px;
    }
    .apartments__bottom .bottom-side:nth-child(2) .bottom-row:first-child{
        order: 1;
        /* border-top: 2px solid rgba(255, 255, 255, 0.05);
        margin-top: 40px;
        padding-top: 40px; */
    }
    .apartments__bottom .bottom-side .bottom-row .option-link{
        margin-top: 12px;
    }
}